img{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

  
  /* Medium screens (md) - 2 items per row */
  @media (min-width: 768px) {
    Box {
      width: 48%; /* 2 items per row */
    }
  }
  
  *{
    background-color: white;
  }
  